@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");

:root {
  --gray: #9899a8;
  --green-base: #93e5ab;
  --green-light: #e8f2ee;
  --dark-blue: #1f2235;
}

body {
  font-family: "Open Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-blue);
  max-width: 1000px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.gray {
  color: var(--gray);
}
.green-light {
  color: var(--green-light);
}
.green-base {
  color: var(--green-base);
}
.roboto {
  font-family: "Roboto Mono", monospace;
}
.text-sm {
  font-size: 14px;
}
.text-md {
  font-size: 16px;
}

.text-lg {
  font-size: 20px;
}
.text-4xl {
  font-size: 80px;
}
.text-2xl {
  font-size: 32px;
}
.text-xl {
  font-size: 24px;
}
.semi-bold {
  font-weight: 600;
}
.extra-bold {
  font-weight: 800;
}
.logo {
  margin: 20px;
}
.navbar {
  background-color: #333;
  overflow: hidden;
}
.navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #4caf50;
  color: white;
}

.p-1 {
  padding: 10px;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-end {
  align-content: flex-end;
}
.justify-evenly {
  align-content: space-evenly;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.flex-end {
  justify-content: flex-end;
}
.wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

ul.nav {
  list-style-type: decimal-leading-zero;
}

li.nav-item {
  margin: 20px;
  color: var(--green-base);
}

li.Link,
a.nav-link {
  color: var(--green-light);
}

.spacing {
  margin: 8px 0px 16px 0px;
}
.description-spacing {
  margin: 24px 0px 32px 0px;
}
img.photo-card {
  object-fit: contain;
  background-color: var(--dark-blue);
  width: 318px;
  height: 317.1px;
  padding: 32px;
}

li.list-item {
  list-style-type: none;
  margin-bottom: 10px;
}
.icon {
  margin: 0px 10px;
}

.contact-button {
  border-color: var(--green-base);
  background-color: var(--dark-blue);
  border-radius: 3px;
  border: 1px solid;
  padding: 16px 24px;
}
.green-button {
  border-color: var(--green-base);
  background-color: var(--dark-blue);
  border-radius: 3px;
  border: 1px solid;
  padding: 16px 24px;
}
.item-grow {
  flex-grow: 2;
}

.item-shrink {
  flex-shrink: 2;
}

.col {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
.item {
  order: 1;
}

.scroller {
  height: 300px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding: 40px;
}

.scroller section {
  scroll-snap-align: start;
}
@media (max-width: 768px) {
  .flex {
    display: block;
  }
  ul.nav {
    padding: 0px 24px;
  }
  .contact-button {
    margin: 0px 20px;
  }
}
